.table {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 75%;
  border-collapse: separate;
  background: white;
  border: 0.630345px solid #CCE1FE;
  box-sizing: border-box;
  box-shadow: 0px 1.48681px 2.97363px rgba(0, 0, 0, 0.15);
  border-radius: 15.7586px;
}
.table thead th {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: #EDEDED;
  font-size: 14px;
  border-top: 1px solid #ddd;
}
.table tbody td {
  text-align: left;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
}
.table tr:nth-child(even) {
  background: #F8F8F8;
}
